.wd-link-reset {
  text-decoration: none;
  color: inherit;
}

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}
.wd-width-75px {
  width: 75px;
}
.wd-center-text {
  text-align: center;
}
.wd-flex-col-container {
  display: flex;
  flex-direction: column;
}
.wd-darkbg-height {
  background-color: black;
  color: white;
  height: 100%;
}
.wd-paddingtop-10p {
  padding-top: 10%;
}
.wd-paddingbottom-10p {
  padding-bottom: 10%;
}
.wd-fontcolor-darkred {
  color: darkred;
}
.wd-link-white {
  text-decoration: none;
  color: white;
}
.wd-paddingtop-6p {
  padding-top: 6%;
}
.wd-paddingbottom-6p {
  padding-bottom: 6%;
}
.wd-lightbg {
  background-color: white;
  color: red;
}
.wd-fontcolor-black {
  color: black;
}
.wd-leftnav-fontsize-12_5px {
  font-size: 12.5px;
}
.wd-word-wrap {
  word-wrap: break-word;
}
.wd-link-crimson {
  text-decoration: none;
  color: crimson;
}
.wd-link-crimson:hover {
  color: crimson;
}
.wd-link-black {
  text-decoration: none;
  color: black;
}
.wd-link-black:hover {
  color: black;
}
.wd-paddingtop-20px {
  padding-top: 20px;
}
.wd-vertical-line {
  border-left: 2px solid black;
  height: 100px;
  padding-left: 1px;
}
.wd-padding-left-3p {
  padding-left: 3%;
}
.wd-padding-right-3p {
  padding-right: 3%;
}
.wd-width-100p {
  width: 100%;
}
.wd-font-size-30px {
  font-size: 30px;
}
.wd-font-size-25px {
  font-size: 25px;
}
.wd-card-padding {
  padding-right: 35px;
  padding-bottom: 35px;
}
.wd-card-header-height-140px {
  height: 140px;
}
.wd-white-icon {
  color: white;
}
.wd-word-wrapper {
  min-height: 50px;
}
.wd-dashboard-heading {
  width: 100%;
}
